/* shared style */
body {
    font-family: 'Work Sans', sans-serif;
}

.main_body {
    max-width: 1920px;
    height: 130px;
}

/* header srction start */
.nav_section {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav_sections {
    display: flex;
    align-items: center;
}

.nav_sections,
h2 {
    margin-left: 15px;
    color: #0B0223;
    font-size: 45px;
    font-weight: 700;
}

.span {
    color: #ff42ff;
}

.header_about {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_about_us {
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    margin-right: 20px;
}

.Follow_Us {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 262px;
    height: 56px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}

.Follow_Us_y {
    width: 33.916px;
    height: 24px;
}

.Follow_Us_t {
    width: 24px;
    height: 24px;
}

/* header srction end */

/* header area section start */
.header_area {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header_left {
    background: url(images/Group\ 14.png);
    width: 901px;
    height: 700px;
}

.header_left h3 {
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
}

.header_left h1 {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
}

.header_left p {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
}

button.header_btn_1 {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    display: inline-flex;
    padding: 21px 40px;
    gap: 10px;
    text-transform: uppercase;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    border: none;
}

button.header_btn_02 {

    display: inline-flex;
    padding: 21px 40px;
    gap: 10px;
    border-radius: 48px;
    background: #4EC5F7;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
}

img.header_img_1 {
    width: 711px;
    height: 446px;
    margin-bottom: 22px;
}

img.header_img_2 {
    width: 213px;
    height: 213px;
    margin-right: 134px;

}

img.header_img_3 {
    width: 360.892px;
    height: 235.018px;
}

/* header area section end */


/* main gammer section start */
section.gammer_area {
    display: flex;
    width: 1920px;
    height: 600px;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.gammer_area_left {
    width: 868px;
    height: 489px;
}

.gammer_area_right {
    text-align: end;
}

.gammer_area_right h3 {
    text-align: right;
    font-size: 48px;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gammer_area_right p {
    color: #534C64;
    text-align: right;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 520px;
}

button.gamer_btn {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    border: none;
}

.gammer_area_right h5 {
    width: 520px;
    text-align: right;
    color: #534C64;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
}

small.gamer_small {
    color: #534C64;
    text-align: right;
    font-size: 24px;
    font-weight: 500;
    line-height: 45px;
}

/* main gammer section end */

/* main funny video section start */
.videos_area {
    display: flex;
    justify-content: space-around;
}

.singale_video {
    width: 342px;
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
}

section.video_section {
    text-align: center;
}

section.video_section h1 {
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
}

section.video_section h1 span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

section.video_section p {
    color: #534C64;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

/* main funny video section end */


/* play instantly section start */

section.play_section {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.play_section_left h2 span {
    width: 341px;
    text-align: right;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    color: #0B0223;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.play_section_left p {
    width: 353px;
    color: #534C64;
    text-align: right;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.play_section_right_img {
    width: 634.833px;
    height: 650px;
}
.play_section_Rectangle_img {
    width: 318.5px;
    height: 365.083px;
    position: absolute;
    margin-bottom: -468px;
    margin-right: -186px;
}

/* play instantly section end */